force-app/main/default/flows/Reserve_Client_Identifier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Next_Available_Client_Identifier</name>
        <label>Get Next Available Client Identifier</label>
        <locationX>944</locationX>
        <locationY>599</locationY>
        <actionName>ClientIdCalloutGetNext</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Get_Next_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Client_ID_Request_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>planAcronym</name>
            <value>
                <elementReference>planAcronym</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varClientIdentifier</assignToReference>
            <name>nextAvailableClientId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varGetNextStatus</assignToReference>
            <name>status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varGetNextStatusCode</assignToReference>
            <name>statusCode</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reserve_Client_Identifier_New</name>
        <label>Reserve Client Identifier New</label>
        <locationX>1258</locationX>
        <locationY>491</locationY>
        <actionName>ClientIdCalloutReserve</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Reservation_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Client_ID_Request_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientName</name>
            <value>
                <elementReference>Client_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientSpecifiedIdentifier</name>
            <value>
                <elementReference>varClientIdentifier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientStartDate</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>internalContactId</name>
            <value>
                <elementReference>internalContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>planAcronym</name>
            <value>
                <elementReference>planAcronym</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reservedBy</name>
            <value>
                <elementReference>Reserved_By</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varReservationMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varReservationStatus</assignToReference>
            <name>status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varReservationStatusCode</assignToReference>
            <name>statusCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Client_Number</name>
        <label>Assign Client Number</label>
        <locationX>1459</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>varSobjectAccount.Client_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varClientIdentifier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_SF2SF_Group_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Specified_Vision_Client_Number_To_Vairable</name>
        <label>Assign Specified Vision Client Number To Vairable</label>
        <locationX>700</locationX>
        <locationY>746</locationY>
        <assignmentItems>
            <assignToReference>varClientIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_Vision_Client_Number_optional</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Accounts_with_Duplicate_Client_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vision_Client_Number</name>
        <label>Assign Vision Client Number</label>
        <locationX>1692</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>varSobjectAccount.Vision_Client_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varClientIdentifier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_SF2SF_Group_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Automatically adds the client number to the list of client numbers in the SF2SF Group No field.</description>
        <name>SF2SF_Group_Number_Addendum</name>
        <label>SF2SF Group Number Addendum</label>
        <locationX>1678</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>varSobjectAccount.SF_2_SF_Group_No__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!varClientIdentifier}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fills the SF2SF Group No field with initial Client Number</description>
        <name>SF2SF_Group_Number_Create</name>
        <label>SF2SF Group Number Create</label>
        <locationX>1476</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>varSobjectAccount.SF_2_SF_Group_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varClientIdentifier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>This is an Internal Contact Id which is internal to DDMI. This number value was determined from legacy code. Assuming that the number is valuable it was preserved here though technically it is unnecessary according to DDMI if a Reserve By name is provided.</description>
        <name>internalContactId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1024</stringValue>
        </value>
    </constants>
    <constants>
        <name>planAcronym</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DDMN</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Assigned_Vision_Client_Number_2</name>
        <label>Check Assigned Vision Client Number</label>
        <locationX>1567</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>Assign_Client_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Dental Client Number</defaultConnectorLabel>
        <rules>
            <name>Has_Vision_Client_Number_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Vision_Client_Number_optional</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vision_Client_Number</targetReference>
            </connector>
            <label>Has Vision Client Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Client_Number_Fields</name>
        <label>Check Client Number Fields</label>
        <locationX>220</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Client_ID_Request_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSobjectAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
        <rules>
            <name>Has_Dental_and_Vision_Client_Numbers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSobjectAccount.Client_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSobjectAccount.Vision_Client_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Client_Number</targetReference>
            </connector>
            <label>Has Dental and Vision Client Numbers</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the duplicateAccount Flow variable is null.</description>
        <name>Check_Duplicates</name>
        <label>Check Duplicates</label>
        <locationX>1250</locationX>
        <locationY>739</locationY>
        <defaultConnector>
            <targetReference>Reserve_Client_Identifier_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicates</defaultConnectorLabel>
        <rules>
            <name>Has_Duplicates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>duplicateAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Error_Screen</targetReference>
            </connector>
            <label>Has Duplicates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Next_Success</name>
        <label>Check Get Next Success</label>
        <locationX>1078</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>Client_ID_Request_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get Next Failure</defaultConnectorLabel>
        <rules>
            <name>GetNextSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGetNextStatusCode</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>300.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts_with_Duplicate_Client_Id</targetReference>
            </connector>
            <label>Get Next Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Reservation_Success</name>
        <label>Check Reservation Success</label>
        <locationX>1249</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Client_ID_Request_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reservation Failure</defaultConnectorLabel>
        <rules>
            <name>ReservationSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReservationStatusCode</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>300.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Assigned_Vision_Client_Number_2</targetReference>
            </connector>
            <label>Reservation Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAssignedVisionClientNumber</name>
        <label>Check Assigned Vision Client Number</label>
        <locationX>690</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>Get_Next_Available_Client_Identifier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Vision_Client_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Vision_Client_Number_optional</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Specified_Vision_Client_Number_To_Vairable</targetReference>
            </connector>
            <label>Has Vision Client Number</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the account record to see if it has a value in SF2SF Group Number field</description>
        <name>Has_SF2SF_Group_Number</name>
        <label>Has SF2SF Group Number</label>
        <locationX>1577</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SF 2 SF Group Number Is Too Long</defaultConnectorLabel>
        <rules>
            <name>Has_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSobjectAccount.SF_2_SF_Group_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SF2SFGroupNumberIsTooLong</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SF2SF_Group_Number_Addendum</targetReference>
            </connector>
            <label>Has Number</label>
        </rules>
        <rules>
            <name>Does_Not_Have_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSobjectAccount.SF_2_SF_Group_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SF2SFGroupNumberIsTooLong</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SF2SF_Group_Number_Create</targetReference>
            </connector>
            <label>Does Not Have Number</label>
        </rules>
    </decisions>
    <description>Screen flow that allows Account Managers to reserve Client Ids with Delta Dental Michigan&apos;s Roosevelt. Makes use of two Apex classes ClientIdCalloutGetNext and ClientIdCalloutReserve. Both of these classes make http request to and api written on the Roosevelt application.

Update 11/23/2021: Checks to see if SF 2 SF Group # field&apos;s character limit is about to be exceeded and does NOT update that field.

Update 7/5/2022: Callout skips DDMN reverse proxy and calls straight to DDMI api.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmCurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>This is to avoid updating the account records SF2SF Group # field if it&apos;s about the exceed it&apos;s character limit. The reason we had to do this is we need to preserve this field as a text field for SOQL query filterability but unfortunately it has a character limit of 255. Some parent account records exceed this limit due to the structure of the data and it has many children. Set the limit at 255 minus 8 to be on the safe side being as the field would be updated to include 7 new characters (the 6 digit client number plus a semi-colon)</description>
        <name>SF2SFGroupNumberIsTooLong</name>
        <dataType>Boolean</dataType>
        <expression>IF( LEN({!varSobjectAccount.SF_2_SF_Group_No__c}) &gt; 247, true, false )</expression>
    </formulas>
    <interviewLabel>Reserve Client Identifier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reserve Client Identifier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets any and all Accounts where the Client Number Field matches the flow variable varClientIdentifier that gets assigned by the response of the previous Apex action</description>
        <name>Get_Accounts_with_Duplicate_Client_Id</name>
        <label>Get Accounts with Duplicate Client Id</label>
        <locationX>1117</locationX>
        <locationY>831</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Duplicates</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Client_ID_Request_Screen</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Client_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varClientIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vision_Client_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varClientIdentifier</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>duplicateAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>176</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Client_Number_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varSobjectAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Contract_start_date__c</queriedFields>
        <queriedFields>Sales_Rep_Text__c</queriedFields>
        <queriedFields>Client_Number__c</queriedFields>
        <queriedFields>Vision_Client_Number__c</queriedFields>
        <queriedFields>SF_2_SF_Group_No__c</queriedFields>
        <queriedFields>SF_2_SF_Group_No_New__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1584</locationX>
        <locationY>1053</locationY>
        <faultConnector>
            <targetReference>Client_ID_Request_Screen</targetReference>
        </faultConnector>
        <inputReference>varSobjectAccount</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Client_ID_Request_Screen</name>
        <label>Client ID Request Screen</label>
        <locationX>542</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckAssignedVisionClientNumber</targetReference>
        </connector>
        <fields>
            <name>Prompt1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 1, 1);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!varReservationMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Reserve a new Client Identifier&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Client_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varSobjectAccount.Name</elementReference>
            </defaultValue>
            <fieldText>Client Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Name of the Prospect Account&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Assign_Vision_Client_Number_optional</name>
            <dataType>String</dataType>
            <fieldText>Assign Vision Client Number (optional)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varSobjectAccount.Contract_start_date__c</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reserved_By</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>frmCurrentUserName</elementReference>
            </defaultValue>
            <fieldText>Reserved By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Error_Screen</name>
        <label>Duplicate_Error_Screen</label>
        <locationX>1258</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Duplicate_Error_Message</name>
            <fieldText>&lt;p&gt;The requested Client Number or Vision Client Number of&amp;nbsp;&lt;span style=&quot;color: rgb(189, 23, 23);&quot;&gt;{!varClientIdentifier}&lt;/span&gt;&amp;nbsp;is already reserved by another Account by the name of&amp;nbsp;&lt;span style=&quot;color: rgb(189, 23, 23);&quot;&gt;{!duplicateAccount.Name}&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>302</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Unable to find Account record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_Client_Number</name>
        <label>Has Client Number</label>
        <locationX>401</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Client_ID_Request_Screen</targetReference>
        </connector>
        <fields>
            <name>header2</name>
            <fieldText>&lt;p&gt;This Account already has a Client Number and Vision Client Number. Do you wish to reserve a new Client Number?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>duplicateAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClientIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGetNextStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGetNextStatusCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varReservationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReservationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReservationStatusCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varSobjectAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
